.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(161, 35, 35);
	height: 65px;
}
.toolbar_navigation {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}
.toolbar__logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 2rem;
}
.toolbar__logo a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}
.spacer {
	flex: 1;
}
.toolbar_navigation-items ul {
	list-style: none;
	padding: 0;
	display: flex;
}
.toolbar_navigation-items li {
	padding: 0 0.5rem;
}
.toolbar_navigation-items a {
	color: black;
	text-decoration: none;
}
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
	color: #fa923f;
}

@media (max-width: 768px) {
	.toolbar_navigation-items {
		display: none;
	}
}

@media (min-width: 768px) {
	.toolbar__toggle-button {
		display: none;
	}
	.toolbar__logo {
		margin-left: 0;
	}
}
